name: Deploy to IIS

on:
  push:
    branches: [ "prd" ]

jobs:
  deploy:
    runs-on: self-hosted

    env:
      IIS_SITE_NAME: "MediaBridge"
      DEPLOY_PATH: "C:\\inetpub\\wwwroot\\MediaBridge"
      PUBLISH_PATH: "${{ github.workspace }}\\publish"

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      # CHANGE THIS PATH to your web project
      - name: Publish
        run: dotnet publish .\MediaBridge.csproj -c Release -o "${{ env.PUBLISH_PATH }}" --no-build

      - name: Stop IIS
        shell: powershell
        run: |
          Import-Module WebAdministration
          Stop-Website -Name "${env:IIS_SITE_NAME}"

      - name: Copy files
        shell: powershell
        run: |
          robocopy "${env:PUBLISH_PATH}" "${env:DEPLOY_PATH}" /MIR /R:2 /W:2
          $rc = $LASTEXITCODE
      
          # Robocopy exit codes < 8 are success
          if ($rc -lt 8) {
            Write-Host "Robocopy completed successfully with exit code $rc"
            exit 0
          } else {
            Write-Error "Robocopy failed with exit code $rc"
            exit 1
          }

      - name: Start IIS
        shell: powershell
        run: |
          Import-Module WebAdministration
          Start-Website -Name "${env:IIS_SITE_NAME}"
